.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #003566;
	color: white;
}

.row-header {
	margin: 0px auto;
	padding: 40px 0px 0px 0px;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #003566;
	color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

address {
	font-size: 90%;
	margin: 0px;
	color: auto;
}

.bg-custom {
	background-color: #001d3d;
}

.fa {
	padding: 8px;
	font-size: 15px;
	height: 30px;
	width: 30px;
	text-align: center;
	text-decoration: none;
	border-radius: 30%;
  }
  
  .fa:hover {
	  opacity: 0.7;
  }
  
  .fa-facebook {
	background: #3B5998;
	color: white;
  }
  
  .fa-twitter {
	background: #55ACEE;
	color: white;
  }
  
  .fa-google-plus {
	background: #dd4b39;
	color: white;
  }
  
  .fa-linkedin {
	background: #007bb5;
	color: white;
  }
  
  .fa-youtube {
	background: #bb0000;
	color: white;
  }

