.jumbotron {
	padding: 70px 30px 70px 30px;
	margin: 0px auto;
	background: #003566;
	color: white;
}

.row-header {
	margin: 0px auto;
	padding: 0px auto;
}

.row-content {
	margin: 0 auto;
	padding: 50px 0px 50px 0px;
	border-bottom: 1px ridge;
	min-height: 400px;
}

.footer {
	background-color: #003566;
	color: white;
	margin: 0px auto;
	padding: 20px 0px 20px 0px;
}

address {
	font-size: 90%;
	margin: 0px;
	color: white;
}

.bg-custom {
	background-color: #001d3d;
}
